* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}



body {
    min-height:100vh;
    display:flex;
    flex-direction: column;
    font-family:"Roboto", sans-serif;
}

.header {
    font-size:36px;
    padding: 20px;
    text-decoration:none;
    text-align:center;
}
.buttons {
    min-height:50vh;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:100px;
}
.button {
    width: 268px;
    height: 268px;
    border-radius:8px;
}
#paper {
    height:225px;
    width:225px;
}